.project,
.projects * {
    box-sizing: border-box;
}

.projects h1 {
    margin-top: 0;
    text-align: center;
    margin-bottom: 100px;
}

.project {
    display: flex;
    gap: 50px;
}

.project-rev {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
}

.project img,
.project-rev img {
    width: 50%;
}

.project .proj-details {
    margin: auto;
    padding-right: 200px;
}

.project-rev .proj-details {
    margin: auto;
    padding-left: 200px;
    text-align: right;
}

.proj-details p {
    margin-bottom: 20px;
    line-height: 30px;
}

.proj-details a {
    padding: 1em 2em;
    border: 1px solid black;
    text-decoration: none;
    color: black;
    width: 50px;
    margin-top: 100px;

}

.proj-details a:hover {
    color: white;
    background-color: black;
    border: 1px solid black;
}


@media screen and (max-width:1000px) {


    .project,
    .project-rev {
        display: block;
        text-align: center;
        padding: 3em;
    }

    .project img,
    .project-rev img {
        width: 70%;
        margin: auto;
    }

    .project .proj-details,
    .project-rev .proj-details {
        padding: 0;
        text-align: center;
    }

    .project button,
    .project-rev button {
        margin-bottom: 100px;
    }

}